body {
    font-family: sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;

}

.tabel {
  border-collapse: collapse;
}

.tabel td, .tabel th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabel tr:nth-child(even){background-color: #f2f2f2;}

.tabel tr:hover {background-color: #ddd;}

.tabel th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}