<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Login</h1>
<div>

    <p><label for="username">Username</label>
        <input id="username"></p>
    <p><label for="password">Password</label>
        <input id="password"></p>

    <button id="submitButton">Submit</button>
</div>
</body>
</html>