<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Webpagina-analysemodel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Websitename</th>
        <th>Timestamp</th>
        <th>Browser name</th>
        <th>Device Name</th>
        <th>OS</th>
        <th>IP Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pagevisit : ${pagevisits}">
        <td><span th:text="${pagevisit.page.name}"> </span></td>
        <td><span th:text="${pagevisit.timestamp}"> </span></td>
        <td><span th:text="${pagevisit.browserName}"> </span></td>
        <td><span th:text="${pagevisit.deviceName}"> </span></td>
        <td><span th:text="${pagevisit.operatingSystem}"> </span></td>
        <td><span th:text="${pagevisit.internetProtocol}"> </span></td>

    </tr>
    </tbody>
</table>
</body>
</html>