<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Webpagina-analysemodel</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add your new website here!</h1>


<form action="#" th:action="@{/webpages}" th:object="${newWebsiteData}" method="post">
    <table>
        <tr>
            <td>Website</td>
            <td><input required type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><input type="text" th:field="*{url}" /></td>
            <td th:if="${#fields.hasErrors('url')}" th:errors="*{url}">URL Error</td>
        </tr>
        <tr>
            <td><button id="submitButton" type="submit">Submit</button></td>
        </tr>
    </table>
</form>
<table class="tabel">
    <thead>
    <tr>
        <th>Id</th>
        <th>Websitename</th>
        <th>Tracking-Id</th>
        <th>Visit count</th>
        <th>URL</th>
        <th>Track</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="website : ${webpages}">
        <td><span th:text="${website.id}"> WebsiteId </span></td>
        <td><a th:href="@{/analytics(id=${website.id})}"><span th:text="${website.name}"> Websitename </span></a></td>
        <td><span th:text="${website.trackingId}"> TrackingId </span></td>
        <td><span th:text="${website.getPageVisits().size()}"> Visit Count </span></td>
        <td><span th:text="${website.getUrl()}"> URL(Optional) </span></td>
        <td><a th:href="@{/track(trackingId=${website.trackingId})}"><span> Track </span></a></td>

    </tr>
    </tbody>
</table>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>
</div>

</body>
</html>