<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Webpagina-analysemodel</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--<div align="center">-->
<!--    <h1>Add your new website here!</h1>-->

<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;        <label required for="name">Website</label><input id="name">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="url">Optional URL</label><input id="url">&ndash;&gt;-->
<!--&lt;!&ndash;        <button id="submitButton">Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->

<!--    <form action="#" th:action="@{/webpages}" th:object="${newWebsiteData}" method="post">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>Website</td>-->
<!--                <td><input required type="text" th:field="*{name}" /></td>-->
<!--                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>URL</td>-->
<!--                <td><input type="text" th:field="*{url}" /></td>-->
<!--                <td th:if="${#fields.hasErrors('url')}" th:errors="*{url}">URL Error</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><button id="submitButton" type="submit">Submit</button></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->


<!--</div>-->
<table class="tabel">
    <thead>
    <tr>
        <th>Id</th>
        <th>Websitename</th>
        <th>Tracking-Id</th>
        <th>Visit count</th>
        <th>URL</th>
        <th>Track</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="website : ${webpages}">
        <td><span th:text="${website.id}"> WebsiteId </span></td>
        <td><a th:href="@{/analytics(id=${website.id})}"><span th:text="${website.name}"> Websitename </span></a></td>
        <td><span th:text="${website.trackingId}"> TrackingId </span></td>
        <td><span th:text="${website.getPageVisits().size()}"> Visit Count </span></td>
        <td><span th:text="${website.getUrl()}"> URL(Optional) </span></td>
        <td><a th:href="@{/track(trackingId=${website.trackingId})}"><span> Track </span></a></td>

    </tr>
    </tbody>
</table>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>
</div>
<li><a href="/form">Add new website</a></li>

<script language="javascript">
function submitForm() {
// Create an object that matches the structure of NewUserData
    let newWebsiteData = {
        name: document.getElementById('name').value,
        url: document.getElementById('url').value
     };
    console.log('Sending', newWebsiteData);
// Build an HTTP request ( the hard way )
// In a front-end framework, there are easier ways to
// do this

   let xhr = new XMLHttpRequest();
    xhr.open('POST', '/webpages');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.addEventListener('load', () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
            alert('The website was created');
             location.href = 'http://localhost:8080/webpages';
        } else {
            alert('Website is not created');
            location.href = 'http://localhost:8080/index.html';
        }


    });
    xhr.send(JSON.stringify(newWebsiteData));


}
document.getElementById('submitButton').addEventListener('click', submitForm);
</script>

</body>
</html>